* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font-family: Helvetica, sans-serif;
}

h1, p {
    text-align: center;
    color: #202020;
}

h1 {
    margin-top: 10px;
}

.game {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
}

.card {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.card.flipped {
    background-color: #fff;
    color: #3498db;
}

.card:hover {
    background-color: #2980b9;
    color: #fff;
}

.btn {
    width: 350px;
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3;
}

.btn:hover {
    background-color: #2980b9;
}